<!-- Rejection Modal -->
<ng-modals [id]="modalId!" [placement]="'modal-center'" className="fixed flex flex-col transition-all duration-300 ease-in-out left-2/4 z-drawer -translate-x-2/4 -translate-y-2/4">
  <div class="flex h-full w-screen flex-col rounded-md bg-white shadow dark:bg-zink-700 md:w-fit">
    <div class="flex items-center justify-between border-b border-slate-200 p-4 dark:border-zink-500">
      <h5 class="text-16">{{ modalTitle || 'QR Code' }}</h5>
      <button dismissModal [ModalDismiss]="modalId!" class="text-slate-500 transition-all duration-200 ease-linear hover:text-red-500 dark:text-zink-200 dark:hover:text-red-500">
        <lucide-angular name="x" [class]="'size-5'"></lucide-angular>
      </button>
    </div>
    <div class="max-h-[calc(theme('height.screen')_-_180px)] overflow-y-auto p-4">
      @if (qrdata) {
        <div class="rounded-md bg-white p-5">
          <qrcode
            [qrdata]="qrdata"
            [allowEmptyString]="true"
            [ariaLabel]="'Item Code'"
            [cssClass]="'center'"
            [colorDark]="'#000000ff'"
            [colorLight]="'#ffffffff'"
            [elementType]="'canvas'"
            [errorCorrectionLevel]="'M'"
            [imageSrc]="'/assets/images/qr-logo.png'"
            [imageHeight]="75"
            [imageWidth]="75"
            [margin]="0"
            [scale]="1"
            [title]="'Item Code'"
            [width]="240"
          ></qrcode>
        </div>
      }
    </div>
    <div class="mt-auto flex items-center justify-end gap-2 border-t border-slate-200 p-4 dark:border-zink-500">
      <button
        type="button"
        dismissModal
        [ModalDismiss]="modalId!"
        class="btn border-custom-500 bg-white text-custom-500 hover:border-custom-600 hover:bg-custom-600 hover:text-white focus:border-custom-600 focus:bg-custom-600 focus:text-white focus:ring focus:ring-custom-100 active:border-custom-600 active:bg-custom-600 active:text-white active:ring active:ring-custom-100 dark:bg-zink-700 dark:ring-custom-400/20 dark:hover:bg-custom-500 dark:focus:bg-custom-500"
      >
        Close
      </button>
    </div>
  </div>
</ng-modals>
<!-- ! Rejection Modal -->
