<!-- Rejection Modal -->
<ng-modals [id]="modalId!" [placement]="'modal-center'" className="fixed flex flex-col transition-all duration-300 ease-in-out left-2/4 z-drawer -translate-x-2/4 -translate-y-2/4">
  <div class="w-screen md:w-fit bg-white shadow rounded-md dark:bg-zink-700 flex flex-col h-full">
    <div class="flex items-center justify-between p-4 border-b border-slate-200 dark:border-zink-500">
      <h5 class="text-16">{{ modalTitle || 'QR Code' }}</h5>
      <button dismissModal [ModalDismiss]="modalId!" class="transition-all duration-200 ease-linear text-slate-500 hover:text-red-500 dark:text-zink-200 dark:hover:text-red-500">
        <lucide-angular name="x" [class]="'size-5'"></lucide-angular>
      </button>
    </div>
    <div class="max-h-[calc(theme('height.screen')_-_180px)] p-4 overflow-y-auto">
      @if (qrdata) {
        <div class="p-5 bg-white rounded-md">
          <qrcode
            [qrdata]="qrdata"
            [allowEmptyString]="true"
            [ariaLabel]="'Item Code'"
            [cssClass]="'center'"
            [colorDark]="'#000000ff'"
            [colorLight]="'#ffffffff'"
            [elementType]="'canvas'"
            [errorCorrectionLevel]="'M'"
            [imageSrc]="'/assets/images/qr-logo.png'"
            [imageHeight]="75"
            [imageWidth]="75"
            [margin]="0"
            [scale]="1"
            [title]="'Item Code'"
            [width]="240"
          ></qrcode>
        </div>
      }
    </div>
    <div class="flex gap-2 items-center justify-end p-4 mt-auto border-t border-slate-200 dark:border-zink-500">
      <button
        type="button"
        dismissModal
        [ModalDismiss]="modalId!"
        class="bg-white text-custom-500 btn border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:bg-zink-700 dark:hover:bg-custom-500 dark:ring-custom-400/20 dark:focus:bg-custom-500"
      >
        Close
      </button>
    </div>
  </div>
</ng-modals>
<!-- ! Rejection Modal -->
