<app-page-title [title]="'customer-list' | translate | titlecase" [pagetitle]="'customers' | translate | titlecase" pagetitleurl="/application/customer"></app-page-title>

<div class="grid grid-cols-1 gap-x-5 xl:grid-cols-12">
  <div class="xl:col-span-12">
    <div class="card">
      <div class="card-body">
        <div class="flex items-center">
          <h6 class="text-15 grow">{{ 'customer-list' | translate | titlecase }}</h6>
          <div class="shrink-0 flex items-center gap-3">
            <button
              routerLink="/application/customer/create"
              class="text-white btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20"
            >
              <lucide-angular name="plus" [class]="'inline-block size-4'"></lucide-angular>
              <span class="align-middle"> {{ 'add-customer' | translate | titlecase }}</span>
            </button>
          </div>
        </div>
      </div>
      <div class="!py-3.5 card-body border-y border-dashed border-slate-200 dark:border-zink-500">
        <div class="grid grid-cols-1 gap-5 md:grid-cols-12">
          <div class="relative md:col-span-6 lg:col-span-4">
            <input
              type="text"
              class="ltr:pl-8 rtl:pr-8 search form-input form-control"
              [placeholder]="'search-customers-placeholder' | translate"
              autocomplete="off"
              [(ngModel)]="customerSearch"
              (ngModelChange)="onSearchCustomer($event)"
            />
            <lucide-angular
              name="search"
              [class]="'inline-block size-4 absolute ltr:left-2.5 rtl:right-2.5 top-2.5 text-slate-500 dark:text-zink-200 fill-slate-100 dark:fill-zink-600'"
            ></lucide-angular>
          </div>
        </div>
      </div>
      <div class="card-body !pt-0">
        <div class="-mx-5 -mb-5 overflow-x-auto">
          <!-- customer table -->
          <ngx-datatable
            #customerTable
            [rows]="customer"
            [columnMode]="'force'"
            [headerHeight]="42"
            [footerHeight]="60"
            [rowHeight]="'auto'"
            [scrollbarH]="true"
            [offset]="customerPagination.page"
            [count]="customerPagination.totalItems"
            [limit]="customerPagination.size"
            [footerHeight]="customer.length ? 60 : 0"
            [loadingIndicator]="true"
            [externalSorting]="true"
            (sort)="onSort($event)"
          >
            @for (column of columns; track $index) {
              <ngx-datatable-column
                [name]="column.name ?? '' | translate | titlecase"
                [prop]="column.prop ?? ''"
                [width]="column.width ?? 100"
                [resizeable]="column.resizeable ?? true"
                [sortable]="column.sortable ?? true"
                headerClass="text-left relative bg-slate-100 dark:bg-zink-600 after:absolute ltr:after:border-l-2 rtl:after:border-r-2 ltr:after:left-0 rtl:after:right-0 after:top-0 after:bottom-0 after:border-transparent [&.active]:after:border-custom-500 [&.active]:bg-slate-100 dark:[&.active]:bg-zink-600 px-3.5 py-2.5 first:pl-5 last:pr-5 font-semibold sort"
                [cellClass]="isLoadingCustomer ? 'opacity-50 px-3.5 py-2.5 first:pl-5 overflow-visible' : 'px-3.5 py-2.5 first:pl-5 overflow-visible'"
              >
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-rowIndex="rowIndex">
                  @if (column.prop === 'actions') {
                    <div class="flex gap-3">
                      <a
                        [routerLink]="'/application/customer/' + row.id + '/edit'"
                        class="flex items-center justify-center size-8 transition-all duration-200 ease-linear rounded-md edit-item-btn bg-slate-100 text-slate-500 hover:text-custom-500 hover:bg-custom-100 dark:bg-zink-600 dark:text-zink-200 dark:hover:bg-custom-500/20 dark:hover:text-custom-500"
                      >
                        <lucide-angular name="pencil" [class]="'size-4'"></lucide-angular>
                      </a>
                      <a
                        (click)="setCustomerToDelete(row)"
                        [appModalTrigger]="'deleteModal'"
                        class="cursor-pointer flex items-center justify-center size-8 transition-all duration-200 ease-linear rounded-md remove-item-btn bg-slate-100 text-slate-500 hover:text-custom-500 hover:bg-custom-100 dark:bg-zink-600 dark:text-zink-200 dark:hover:bg-custom-500/20 dark:hover:text-custom-500"
                      >
                        <lucide-angular name="trash-2" [class]="'size-4'"></lucide-angular>
                      </a>
                    </div>
                  } @else {
                    <div class="line-clamp-3">
                      {{ value }}
                    </div>
                  }
                </ng-template>
              </ngx-datatable-column>
            }

            @if (customer.length) {
              <ngx-datatable-footer class="customerTablefooter">
                <ng-template ngx-datatable-footer-template>
                  <div class="px-5 flex items-center justify-center md:justify-between w-full">
                    <div class="grow hidden md:block">
                      <p class="text-slate-500 dark:text-zink-200">
                        Showing <b>{{ customer.length }}</b> of <b>{{ customerPagination.totalItems }}</b> Results
                      </p>
                    </div>
                    <pagination-controls
                      [darkLinks]="true"
                      [boundryLinks]="false"
                      previousLabel="Prev"
                      nextLabel="Next"
                      [itemsPerPage]="customerPagination.size"
                      [currentPage]="customerPagination.page"
                      [total]="customerPagination.totalItems"
                      (pageChanged)="onPageNumberChange($event)"
                    >
                    </pagination-controls>
                  </div>
                </ng-template>
              </ngx-datatable-footer>
            }
          </ngx-datatable>
          <!-- ! customer table -->

          @if (!customer.length && isLoadingCustomer) {
            <!-- loading -->
            <div class="noresult">
              <div class="h-36 text-center grid place-items-center">
                <div class="inline-block size-4 border-2 rounded-full animate-spin border-l-transparent border-custom-500"></div>
              </div>
            </div>
            <!-- ! loading -->
          }

          @if (!customer.length && !isLoadingCustomer) {
            <!-- no result -->
            <div class="noresult">
              <div class="h-36 grid place-items-center">
                <div class="text-center">
                  <lucide-angular name="search" [class]="'size-6 mx-auto text-sky-500 fill-sky-100 dark:fill-sky-500/20'"></lucide-angular>
                  <p class="mt-2 mb-0 text-slate-500 dark:text-zink-200">
                    <span>{{ 'no-data-found' | translate | titlecase }}</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- ! no result -->
          }
        </div>
      </div>
    </div>
    <!--end card-->
  </div>
  <!--end col-->
</div>
<!--end grid-->

<!-- delete customer modal -->
<ng-modals id="deleteModal" [placement]="'modal-center'" className="fixed flex flex-col transition-all duration-300 ease-in-out left-2/4 z-drawer -translate-x-2/4 -translate-y-2/4">
  <div class="w-screen max-w-[420px] md:w-[25rem] bg-white shadow rounded-md dark:bg-zink-600">
    <div class="max-h-[calc(theme('height.screen')_-_180px)] overflow-y-auto px-6 py-8">
      <div class="float-right">
        <button dismissModal [ModalDismiss]="'deleteModal'" class="transition-all duration-200 ease-linear text-slate-500 hover:text-red-500">
          <i data-lucide="x" class="size-5"></i>
        </button>
      </div>
      <img src="assets/images/delete.png" alt="" class="block h-12 mx-auto" />
      <div class="mt-5 text-center">
        <h5 class="mb-1 font-bold text-red-500">{{ 'warning' | translate }}</h5>
        <p class="text-slate-500 dark:text-zink-200">{{ 'are-you-sure-want-to-delete-this-data?' | translate }}</p>
        <div class="flex justify-center gap-2 mt-6">
          <button
            type="reset"
            dismissModal
            [ModalDismiss]="'deleteModal'"
            class="bg-white text-slate-500 btn hover:text-slate-500 hover:bg-slate-100 focus:text-slate-500 focus:bg-slate-100 active:text-slate-500 active:bg-slate-100 dark:bg-zink-600 dark:hover:bg-slate-500/10 dark:focus:bg-slate-500/10 dark:active:bg-slate-500/10"
          >
            {{ 'cancel' | translate | titlecase }}
          </button>
          <button
            type="submit"
            (click)="deleteCustomer()"
            dismissModal
            [ModalDismiss]="'deleteModal'"
            class="text-white bg-red-500 border-red-500 btn hover:text-white hover:bg-red-600 hover:border-red-600 focus:text-white focus:bg-red-600 focus:border-red-600 focus:ring focus:ring-red-100 active:text-white active:bg-red-600 active:border-red-600 active:ring active:ring-red-100 dark:ring-custom-400/20"
          >
            {{ 'yes-delete-it!' | translate | titlecase }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-modals>
<!-- ! delete customer modal -->
